@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-hotel:before { content: "\f100"; }
.flaticon-002-hotel:before { content: "\f101"; }
.flaticon-003-hotel:before { content: "\f102"; }
.flaticon-004-hotel:before { content: "\f103"; }
.flaticon-005-hotel:before { content: "\f104"; }
.flaticon-006-accomodation:before { content: "\f105"; }
.flaticon-007-accomodation:before { content: "\f106"; }
.flaticon-008-administrator:before { content: "\f107"; }
.flaticon-009-adult:before { content: "\f108"; }
.flaticon-010-all-inclusive:before { content: "\f109"; }
.flaticon-011-calendar:before { content: "\f10a"; }
.flaticon-012-wireless-router:before { content: "\f10b"; }
.flaticon-013-calendar:before { content: "\f10c"; }
.flaticon-014-safebox:before { content: "\f10d"; }
.flaticon-015-budget:before { content: "\f10e"; }
.flaticon-016-calendar:before { content: "\f10f"; }
.flaticon-017-discount:before { content: "\f110"; }
.flaticon-018-capacity:before { content: "\f111"; }
.flaticon-019-capsule-hotel:before { content: "\f112"; }
.flaticon-020-swimming-pool:before { content: "\f113"; }
.flaticon-021-concierge:before { content: "\f114"; }
.flaticon-022-restricted:before { content: "\f115"; }
.flaticon-023-suite:before { content: "\f116"; }
.flaticon-024-doors:before { content: "\f117"; }
.flaticon-025-doors:before { content: "\f118"; }
.flaticon-026-door-hanger:before { content: "\f119"; }
.flaticon-027-double-bed:before { content: "\f11a"; }
.flaticon-028-single-bed:before { content: "\f11b"; }
.flaticon-029-early-bird:before { content: "\f11c"; }
.flaticon-030-hotel:before { content: "\f11d"; }
.flaticon-031-extended:before { content: "\f11e"; }
.flaticon-032-hotel:before { content: "\f11f"; }
.flaticon-033-full-service:before { content: "\f120"; }
.flaticon-034-dumbbells:before { content: "\f121"; }
.flaticon-035-hotel:before { content: "\f122"; }
.flaticon-036-placeholder:before { content: "\f123"; }
.flaticon-037-gift-voucher:before { content: "\f124"; }
.flaticon-038-housekeeper:before { content: "\f125"; }
.flaticon-039-laundry:before { content: "\f126"; }
.flaticon-040-length:before { content: "\f127"; }
.flaticon-041-loyalty:before { content: "\f128"; }
.flaticon-042-luggage:before { content: "\f129"; }
.flaticon-043-hotel:before { content: "\f12a"; }
.flaticon-044-minibar:before { content: "\f12b"; }
.flaticon-045-motel:before { content: "\f12c"; }
.flaticon-046-missing:before { content: "\f12d"; }
.flaticon-047-pets-allowed:before { content: "\f12e"; }
.flaticon-048-key-room:before { content: "\f12f"; }

$font-Flaticon-001-hotel: "\f100";
$font-Flaticon-002-hotel: "\f101";
$font-Flaticon-003-hotel: "\f102";
$font-Flaticon-004-hotel: "\f103";
$font-Flaticon-005-hotel: "\f104";
$font-Flaticon-006-accomodation: "\f105";
$font-Flaticon-007-accomodation: "\f106";
$font-Flaticon-008-administrator: "\f107";
$font-Flaticon-009-adult: "\f108";
$font-Flaticon-010-all-inclusive: "\f109";
$font-Flaticon-011-calendar: "\f10a";
$font-Flaticon-012-wireless-router: "\f10b";
$font-Flaticon-013-calendar: "\f10c";
$font-Flaticon-014-safebox: "\f10d";
$font-Flaticon-015-budget: "\f10e";
$font-Flaticon-016-calendar: "\f10f";
$font-Flaticon-017-discount: "\f110";
$font-Flaticon-018-capacity: "\f111";
$font-Flaticon-019-capsule-hotel: "\f112";
$font-Flaticon-020-swimming-pool: "\f113";
$font-Flaticon-021-concierge: "\f114";
$font-Flaticon-022-restricted: "\f115";
$font-Flaticon-023-suite: "\f116";
$font-Flaticon-024-doors: "\f117";
$font-Flaticon-025-doors: "\f118";
$font-Flaticon-026-door-hanger: "\f119";
$font-Flaticon-027-double-bed: "\f11a";
$font-Flaticon-028-single-bed: "\f11b";
$font-Flaticon-029-early-bird: "\f11c";
$font-Flaticon-030-hotel: "\f11d";
$font-Flaticon-031-extended: "\f11e";
$font-Flaticon-032-hotel: "\f11f";
$font-Flaticon-033-full-service: "\f120";
$font-Flaticon-034-dumbbells: "\f121";
$font-Flaticon-035-hotel: "\f122";
$font-Flaticon-036-placeholder: "\f123";
$font-Flaticon-037-gift-voucher: "\f124";
$font-Flaticon-038-housekeeper: "\f125";
$font-Flaticon-039-laundry: "\f126";
$font-Flaticon-040-length: "\f127";
$font-Flaticon-041-loyalty: "\f128";
$font-Flaticon-042-luggage: "\f129";
$font-Flaticon-043-hotel: "\f12a";
$font-Flaticon-044-minibar: "\f12b";
$font-Flaticon-045-motel: "\f12c";
$font-Flaticon-046-missing: "\f12d";
$font-Flaticon-047-pets-allowed: "\f12e";
$font-Flaticon-048-key-room: "\f12f";